In [1]:
import pandas as pd

In [28]:
df = pd.read_csv(r"C:\Users\naipe\OneDrive\Desktop\data\2022.csv")
df.head(10)

,RANK,Country,Happiness score,Whisker-high,Whisker-low,Dystopia (1.83) + residual,Explained by: GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption
0,1,Finland,"7,821","7,886","7,756","2,518","1,892","1,258","0,775","0,736","0,109","0,534"
1,2,Denmark,"7,636","7,710","7,563","2,226","1,953","1,243","0,777","0,719","0,188","0,532"
2,3,Iceland,"7,557","7,651","7,464","2,320","1,936","1,320","0,803","0,718","0,270","0,191"
3,4,Switzerland,"7,512","7,586","7,437","2,153","2,026","1,226","0,822","0,677","0,147","0,461"
4,5,Netherlands,"7,415","7,471","7,359","2,137","1,945","1,206","0,787","0,651","0,271","0,419"
5,6,Luxembourg*,"7,404","7,501","7,307","2,042","2,209","1,155","0,790","0,700","0,120","0,388"
6,7,Sweden,"7,384","7,454","7,315","2,003","1,920","1,204","0,803","0,724","0,218","0,512"
7,8,Norway,"7,365","7,440","7,290","1,925","1,997","1,239","0,786","0,728","0,217","0,474"
8,9,Israel,"7,364","7,426","7,301","2,634","1,826","1,221","0,818","0,568","0,155","0,143"
9,10,New Zealand,"7,200","7,279","7,120","1,954","1,852","1,235","0,752","0,680","0,245","0,483"

In [29]:
df7 = pd.read_csv(r"C:\Users\naipe\OneDrive\Desktop\data\2021.csv")
df7.head(10)

,Country name,Regional indicator,Ladder score,Standard error of ladder score,upperwhisker,lowerwhisker,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Ladder score in Dystopia,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual
0,Finland,Western Europe,7.842,0.032,7.904,7.780,10.775,0.954,72.0,0.949,-0.098,0.186,2.43,1.446,1.106,0.741,0.691,0.124,0.481,3.253
1,Denmark,Western Europe,7.620,0.035,7.687,7.552,10.933,0.954,72.7,0.946,0.030,0.179,2.43,1.502,1.108,0.763,0.686,0.208,0.485,2.868
2,Switzerland,Western Europe,7.571,0.036,7.643,7.500,11.117,0.942,74.4,0.919,0.025,0.292,2.43,1.566,1.079,0.816,0.653,0.204,0.413,2.839
3,Iceland,Western Europe,7.554,0.059,7.670,7.438,10.878,0.983,73.0,0.955,0.160,0.673,2.43,1.482,1.172,0.772,0.698,0.293,0.170,2.967
4,Netherlands,Western Europe,7.464,0.027,7.518,7.410,10.932,0.942,72.4,0.913,0.175,0.338,2.43,1.501,1.079,0.753,0.647,0.302,0.384,2.798
5,Norway,Western Europe,7.392,0.035,7.462,7.323,11.053,0.954,73.3,0.960,0.093,0.270,2.43,1.543,1.108,0.782,0.703,0.249,0.427,2.580
6,Sweden,Western Europe,7.363,0.036,7.433,7.293,10.867,0.934,72.7,0.945,0.086,0.237,2.43,1.478,1.062,0.763,0.685,0.244,0.448,2.683
7,Luxembourg,Western Europe,7.324,0.037,7.396,7.252,11.647,0.908,72.6,0.907,-0.034,0.386,2.43,1.751,1.003,0.760,0.639,0.166,0.353,2.653
8,New Zealand,North America and ANZ,7.277,0.040,7.355,7.198,10.643,0.948,73.4,0.929,0.134,0.242,2.43,1.400,1.094,0.785,0.665,0.276,0.445,2.612
9,Austria,Western Europe,7.268,0.036,7.337,7.198,10.906,0.934,73.3,0.908,0.042,0.481,2.43,1.492,1.062,0.782,0.640,0.215,0.292,2.784

In [30]:
df6 = pd.read_csv(r"C:\Users\naipe\OneDrive\Desktop\data\2020.csv")
df6.head(10)

,Country name,Regional indicator,Ladder score,Standard error of ladder score,upperwhisker,lowerwhisker,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Ladder score in Dystopia,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual
0,Finland,Western Europe,7.8087,0.031156,7.869766,7.747634,10.639267,0.954330,71.900825,0.949172,-0.059482,0.195445,1.972317,1.285190,1.499526,0.961271,0.662317,0.159670,0.477857,2.762835
1,Denmark,Western Europe,7.6456,0.033492,7.711245,7.579955,10.774001,0.955991,72.402504,0.951444,0.066202,0.168489,1.972317,1.326949,1.503449,0.979333,0.665040,0.242793,0.495260,2.432741
2,Switzerland,Western Europe,7.5599,0.035014,7.628528,7.491272,10.979933,0.942847,74.102448,0.921337,0.105911,0.303728,1.972317,1.390774,1.472403,1.040533,0.628954,0.269056,0.407946,2.350267
3,Iceland,Western Europe,7.5045,0.059616,7.621347,7.387653,10.772559,0.974670,73.000000,0.948892,0.246944,0.711710,1.972317,1.326502,1.547567,1.000843,0.661981,0.362330,0.144541,2.460688
4,Norway,Western Europe,7.4880,0.034837,7.556281,7.419719,11.087804,0.952487,73.200783,0.955750,0.134533,0.263218,1.972317,1.424207,1.495173,1.008072,0.670201,0.287985,0.434101,2.168266
5,Netherlands,Western Europe,7.4489,0.027792,7.503372,7.394428,10.812712,0.939139,72.300919,0.908548,0.207612,0.364717,1.972317,1.338946,1.463646,0.975675,0.613626,0.336318,0.368570,2.352117
6,Sweden,Western Europe,7.3535,0.036234,7.424519,7.282481,10.758794,0.926311,72.600769,0.939144,0.111615,0.250880,1.972317,1.322235,1.433348,0.986470,0.650298,0.272828,0.442066,2.246299
7,New Zealand,North America and ANZ,7.2996,0.039465,7.376953,7.222248,10.500943,0.949119,73.202629,0.936217,0.191598,0.221139,1.972317,1.242318,1.487218,1.008138,0.646790,0.325726,0.461268,2.128108
8,Austria,Western Europe,7.2942,0.033365,7.359596,7.228804,10.742824,0.928046,73.002502,0.899989,0.085429,0.499955,1.972317,1.317286,1.437445,1.000934,0.603369,0.255510,0.281256,2.398446
9,Luxembourg,Western Europe,7.2375,0.030852,7.297970,7.177031,11.450681,0.906912,72.599998,0.905636,-0.004621,0.367084,1.972317,1.536676,1.387528,0.986443,0.610137,0.195954,0.367041,2.153700

In [31]:
d5 = pd.read_csv(r"C:\Users\naipe\OneDrive\Desktop\data\2019.csv")
df5.head(10)

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,7.632,1.305,1.592,0.874,0.681,0.202,0.393
1,2,Norway,7.594,1.456,1.582,0.861,0.686,0.286,0.340
2,3,Denmark,7.555,1.351,1.590,0.868,0.683,0.284,0.408
3,4,Iceland,7.495,1.343,1.644,0.914,0.677,0.353,0.138
4,5,Switzerland,7.487,1.420,1.549,0.927,0.660,0.256,0.357
5,6,Netherlands,7.441,1.361,1.488,0.878,0.638,0.333,0.295
6,7,Canada,7.328,1.330,1.532,0.896,0.653,0.321,0.291
7,8,New Zealand,7.324,1.268,1.601,0.876,0.669,0.365,0.389
8,9,Sweden,7.314,1.355,1.501,0.913,0.659,0.285,0.383
9,10,Australia,7.272,1.340,1.573,0.910,0.647,0.361,0.302

In [32]:
df4 = pd.read_csv(r"C:\Users\naipe\OneDrive\Desktop\data\2018.csv")
df4.head(10)

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,7.632,1.305,1.592,0.874,0.681,0.202,0.393
1,2,Norway,7.594,1.456,1.582,0.861,0.686,0.286,0.340
2,3,Denmark,7.555,1.351,1.590,0.868,0.683,0.284,0.408
3,4,Iceland,7.495,1.343,1.644,0.914,0.677,0.353,0.138
4,5,Switzerland,7.487,1.420,1.549,0.927,0.660,0.256,0.357
5,6,Netherlands,7.441,1.361,1.488,0.878,0.638,0.333,0.295
6,7,Canada,7.328,1.330,1.532,0.896,0.653,0.321,0.291
7,8,New Zealand,7.324,1.268,1.601,0.876,0.669,0.365,0.389
8,9,Sweden,7.314,1.355,1.501,0.913,0.659,0.285,0.383
9,10,Australia,7.272,1.340,1.573,0.910,0.647,0.361,0.302

In [33]:
df3 = pd.read_csv(r"C:\Users\naipe\OneDrive\Desktop\data\2017.csv")
df3.head(10)

,Country,Happiness.Rank,Happiness.Score,Whisker.high,Whisker.low,Economy..GDP.per.Capita.,Family,Health..Life.Expectancy.,Freedom,Generosity,Trust..Government.Corruption.,Dystopia.Residual
0,Norway,1,7.537,7.594445,7.479556,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2.277027
1,Denmark,2,7.522,7.581728,7.462272,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,2.313707
2,Iceland,3,7.504,7.622030,7.385970,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527,2.322715
3,Switzerland,4,7.494,7.561772,7.426227,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007,2.276716
4,Finland,5,7.469,7.527542,7.410458,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612,2.430182
5,Netherlands,6,7.377,7.427426,7.326574,1.503945,1.428939,0.810696,0.585384,0.470490,0.282662,2.294804
6,Canada,7,7.316,7.384403,7.247597,1.479204,1.481349,0.834558,0.611101,0.435540,0.287372,2.187264
7,New Zealand,8,7.314,7.379510,7.248490,1.405706,1.548195,0.816760,0.614062,0.500005,0.382817,2.046456
8,Sweden,9,7.284,7.344095,7.223905,1.494387,1.478162,0.830875,0.612924,0.385399,0.384399,2.097538
9,Australia,10,7.284,7.356651,7.211349,1.484415,1.510042,0.843887,0.601607,0.477699,0.301184,2.065211

In [34]:
df2 = pd.read_csv(r"C:\Users\naipe\OneDrive\Desktop\data\2016.csv")
df2.head(10)

,Country,Region,Happiness Rank,Happiness Score,Lower Confidence Interval,Upper Confidence Interval,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Denmark,Western Europe,1,7.526,7.460,7.592,1.44178,1.16374,0.79504,0.57941,0.44453,0.36171,2.73939
1,Switzerland,Western Europe,2,7.509,7.428,7.590,1.52733,1.14524,0.86303,0.58557,0.41203,0.28083,2.69463
2,Iceland,Western Europe,3,7.501,7.333,7.669,1.42666,1.18326,0.86733,0.56624,0.14975,0.47678,2.83137
3,Norway,Western Europe,4,7.498,7.421,7.575,1.57744,1.12690,0.79579,0.59609,0.35776,0.37895,2.66465
4,Finland,Western Europe,5,7.413,7.351,7.475,1.40598,1.13464,0.81091,0.57104,0.41004,0.25492,2.82596
5,Canada,North America,6,7.404,7.335,7.473,1.44015,1.09610,0.82760,0.57370,0.31329,0.44834,2.70485
6,Netherlands,Western Europe,7,7.339,7.284,7.394,1.46468,1.02912,0.81231,0.55211,0.29927,0.47416,2.70749
7,New Zealand,Australia and New Zealand,8,7.334,7.264,7.404,1.36066,1.17278,0.83096,0.58147,0.41904,0.49401,2.47553
8,Australia,Australia and New Zealand,9,7.313,7.241,7.385,1.44443,1.10476,0.85120,0.56837,0.32331,0.47407,2.54650
9,Sweden,Western Europe,10,7.291,7.227,7.355,1.45181,1.08764,0.83121,0.58218,0.40867,0.38254,2.54734

In [35]:
df1 = pd.read_csv(r"C:\Users\naipe\OneDrive\Desktop\data\2015.csv")
df1.head(10)

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176
5,Finland,Western Europe,6,7.406,0.03140,1.29025,1.31826,0.88911,0.64169,0.41372,0.23351,2.61955
6,Netherlands,Western Europe,7,7.378,0.02799,1.32944,1.28017,0.89284,0.61576,0.31814,0.47610,2.46570
7,Sweden,Western Europe,8,7.364,0.03157,1.33171,1.28907,0.91087,0.65980,0.43844,0.36262,2.37119
8,New Zealand,Australia and New Zealand,9,7.286,0.03371,1.25018,1.31967,0.90837,0.63938,0.42922,0.47501,2.26425
9,Australia,Australia and New Zealand,10,7.284,0.04083,1.33358,1.30923,0.93156,0.65124,0.35637,0.43562,2.26646

In [36]:
data = {'2015': df8['Country'], "2016":df7['Country name'], "2017":df6['Country name'], "2018":df5['Country or region'], "2019":df4['Country or region'] ,"2020":df3['Country'],
       "2021":df2['Country'], "2022":df['Country']}

countries = pd.DataFrame(data)

In [39]:
countries

,2015,2016,2017,2018,2019,2020,2021,2022
0,Switzerland,Finland,Finland,Finland,Finland,Norway,Denmark,Finland
1,Iceland,Denmark,Denmark,Norway,Norway,Denmark,Switzerland,Denmark
2,Denmark,Switzerland,Switzerland,Denmark,Denmark,Iceland,Iceland,Iceland
3,Norway,Iceland,Iceland,Iceland,Iceland,Switzerland,Norway,Switzerland
4,Canada,Netherlands,Norway,Switzerland,Switzerland,Finland,Finland,Netherlands
...,...,...,...,...,...,...,...,...
142,Gabon,Haiti,Lesotho,Madagascar,Madagascar,Benin,South Sudan,Rwanda*
143,Niger,Malawi,India,Zimbabwe,Zimbabwe,Madagascar,Chad,Zimbabwe
144,Cambodia,Lesotho,Malawi,Afghanistan,Afghanistan,Haiti,Burkina Faso,Lebanon
145,Tanzania,Botswana,Yemen,Botswana,Botswana,Yemen,Uganda,Afghanistan
146,Madagascar,Rwanda,Botswana,Malawi,Malawi,South Sudan,Yemen,xx

In [45]:
happiest = countries.head(10)
happiest

,2015,2016,2017,2018,2019,2020,2021,2022
0,Switzerland,Finland,Finland,Finland,Finland,Norway,Denmark,Finland
1,Iceland,Denmark,Denmark,Norway,Norway,Denmark,Switzerland,Denmark
2,Denmark,Switzerland,Switzerland,Denmark,Denmark,Iceland,Iceland,Iceland
3,Norway,Iceland,Iceland,Iceland,Iceland,Switzerland,Norway,Switzerland
4,Canada,Netherlands,Norway,Switzerland,Switzerland,Finland,Finland,Netherlands
5,Finland,Norway,Netherlands,Netherlands,Netherlands,Netherlands,Canada,Luxembourg*
6,Netherlands,Sweden,Sweden,Canada,Canada,Canada,Netherlands,Sweden
7,Sweden,Luxembourg,New Zealand,New Zealand,New Zealand,New Zealand,New Zealand,Norway
8,New Zealand,New Zealand,Austria,Sweden,Sweden,Sweden,Australia,Israel
9,Australia,Austria,Luxembourg,Australia,Australia,Australia,Sweden,New Zealand

In [44]:
unhappiest= countries.tail(10)
unhappiest

,2015,2016,2017,2018,2019,2020,2021,2022
137,Mali,Sierra Leone,Egypt,Ukraine,Ukraine,Zimbabwe,Comoros,Malawi
138,Congo (Brazzaville),India,Sierra Leone,Togo,Togo,Lesotho,Ivory Coast,Tanzania
139,Comoros,Burundi,Burundi,Guinea,Guinea,Angola,Cambodia,Sierra Leone
140,Uganda,Yemen,Zambia,Lesotho,Lesotho,Afghanistan,Angola,Lesotho*
141,Senegal,Tanzania,Haiti,Angola,Angola,Botswana,Niger,Botswana*
142,Gabon,Haiti,Lesotho,Madagascar,Madagascar,Benin,South Sudan,Rwanda*
143,Niger,Malawi,India,Zimbabwe,Zimbabwe,Madagascar,Chad,Zimbabwe
144,Cambodia,Lesotho,Malawi,Afghanistan,Afghanistan,Haiti,Burkina Faso,Lebanon
145,Tanzania,Botswana,Yemen,Botswana,Botswana,Yemen,Uganda,Afghanistan
146,Madagascar,Rwanda,Botswana,Malawi,Malawi,South Sudan,Yemen,xx

In [50]:
happiest

,2015,2016,2017,2018,2019,2020,2021,2022,Rank
0,Switzerland,Finland,Finland,Finland,Finland,Norway,Denmark,Finland,1
1,Iceland,Denmark,Denmark,Norway,Norway,Denmark,Switzerland,Denmark,2
2,Denmark,Switzerland,Switzerland,Denmark,Denmark,Iceland,Iceland,Iceland,3
3,Norway,Iceland,Iceland,Iceland,Iceland,Switzerland,Norway,Switzerland,4
4,Canada,Netherlands,Norway,Switzerland,Switzerland,Finland,Finland,Netherlands,5
5,Finland,Norway,Netherlands,Netherlands,Netherlands,Netherlands,Canada,Luxembourg*,6
6,Netherlands,Sweden,Sweden,Canada,Canada,Canada,Netherlands,Sweden,7
7,Sweden,Luxembourg,New Zealand,New Zealand,New Zealand,New Zealand,New Zealand,Norway,8
8,New Zealand,New Zealand,Austria,Sweden,Sweden,Sweden,Australia,Israel,9
9,Australia,Austria,Luxembourg,Australia,Australia,Australia,Sweden,New Zealand,10

In [51]:
unhappiest.insert(0, 'Rank', range(1, 11))
unhappiest

,Rank,2015,2016,2017,2018,2019,2020,2021,2022
137,1,Mali,Sierra Leone,Egypt,Ukraine,Ukraine,Zimbabwe,Comoros,Malawi
138,2,Congo (Brazzaville),India,Sierra Leone,Togo,Togo,Lesotho,Ivory Coast,Tanzania
139,3,Comoros,Burundi,Burundi,Guinea,Guinea,Angola,Cambodia,Sierra Leone
140,4,Uganda,Yemen,Zambia,Lesotho,Lesotho,Afghanistan,Angola,Lesotho*
141,5,Senegal,Tanzania,Haiti,Angola,Angola,Botswana,Niger,Botswana*
142,6,Gabon,Haiti,Lesotho,Madagascar,Madagascar,Benin,South Sudan,Rwanda*
143,7,Niger,Malawi,India,Zimbabwe,Zimbabwe,Madagascar,Chad,Zimbabwe
144,8,Cambodia,Lesotho,Malawi,Afghanistan,Afghanistan,Haiti,Burkina Faso,Lebanon
145,9,Tanzania,Botswana,Yemen,Botswana,Botswana,Yemen,Uganda,Afghanistan
146,10,Madagascar,Rwanda,Botswana,Malawi,Malawi,South Sudan,Yemen,xx

In [60]:
happiest.to_csv('happiest.csv', index=False)

In [61]:
unhappiest.to_csv('unhappiest.csv', index=False)

In [62]:
df2.tail(10)

,Country,Region,Happiness Rank,Happiness Score,Lower Confidence Interval,Upper Confidence Interval,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
147,Madagascar,Sub-Saharan Africa,148,3.695,3.621,3.769,0.27954,0.46115,0.37109,0.13684,0.07506,0.22040,2.15075
148,Tanzania,Sub-Saharan Africa,149,3.666,3.561,3.771,0.47155,0.77623,0.35700,0.31760,0.05099,0.31472,1.37769
149,Liberia,Sub-Saharan Africa,150,3.622,3.463,3.781,0.10706,0.50353,0.23165,0.25748,0.04852,0.24063,2.23284
150,Guinea,Sub-Saharan Africa,151,3.607,3.533,3.681,0.22415,0.31090,0.18829,0.30953,0.11920,0.29914,2.15604
151,Rwanda,Sub-Saharan Africa,152,3.515,3.444,3.586,0.32846,0.61586,0.31865,0.54320,0.50521,0.23552,0.96819
152,Benin,Sub-Saharan Africa,153,3.484,3.404,3.564,0.39499,0.10419,0.21028,0.39747,0.06681,0.20180,2.10812
153,Afghanistan,Southern Asia,154,3.360,3.288,3.432,0.38227,0.11037,0.17344,0.16430,0.07112,0.31268,2.14558
154,Togo,Sub-Saharan Africa,155,3.303,3.192,3.414,0.28123,0.00000,0.24811,0.34678,0.11587,0.17517,2.13540
155,Syria,Middle East and Northern Africa,156,3.069,2.936,3.202,0.74719,0.14866,0.62994,0.06912,0.17233,0.48397,0.81789
156,Burundi,Sub-Saharan Africa,157,2.905,2.732,3.078,0.06831,0.23442,0.15747,0.04320,0.09419,0.20290,2.10404